DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ADMIN_EMAIL=
LOCAL_CRON_ENABLED=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_FRONTEND_FORGE_API_URL=
VITE_FRONTEND_FORGE_API_KEY=
BUILT_IN_FORGE_API_URL=
BUILT_IN_FORGE_API_KEY=
